@keyframes background {
  0% {
    background-image: url('../assets/tesselate1.png');
  }

  33% {
    background-image: url('../assets/tesselate2.png');
  }

  66% {
    background-image: url('../assets/tesselate3.png');
  }

  100% {
    background-image: url('../assets/tesselate1.png');
  }
}

body {
  background: #898989;
  animation-name: background;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}